
<div class=" w-11/12 mb-6 mx-auto">
	<h2 class="my-4 text-3xl font-bold tracking-wide">Discution</h2>
	<div class="w-2/3 mx-auto flex flex-row flex-wrap">
		{% for message in trick.messages %}
			<article id="{{ message.id }}" class="bg-gray-200 m-2 p-2 rounded-md">
				<span class="text-md font-bold">{{ message.speaker.username }}</span>
				<span class="text-sm font-thin">{{ message.date }}</span>
				<p>{{ message.content }}</p>
			</article>
		{% endfor %}
	</div>
</div>

<form action="{{ path('comment.trick', {slug: trick.slug}) }}" method="post" name="sentComment" id="comment-form"
      class="w-full mx-auto text-lg">
	<input id="csrf-token" type="hidden" name="token" value="{{ csrf_token('comment') }}"/>
	<div class="flex flex-wrap md:my-10">
		<label class="self-center align-center mx-4 lg:mx-8 font-medium">Ecrire un commentaire</label>
		<textarea name="content" id="comment" rows="2" placeholder="Commenter"
		          class="flex-grow mr-4 mt-4 pl-6 pt-6 lg:mr-8 resize overflow-hidden rounded-md bg-gray-100"></textarea>
		<button type="button" id="sendComment"
		        class="self-center submit_btn mr-4 lg:mr-8 hover:text-indigo-400">Poster</button>
	</div>
</form>

<script type="text/javascript">
	const btn = document.querySelector('#sendComment')
	btn.addEventListener('click', () => {
	    document.querySelector('#comment-form').submit()
	})
</script>
