{% extends 'layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    <script src="https://cdn.tiny.cloud/1/gxt8mgcppsvtooif8gfa2v01p3y4wrupwb4r7ubgg10m803t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}
{% form_theme form with ['form_themes/trick_edit.html.twig'] %}
{% block body %}
    <div x-data="createTrick()" class="font-sans w-10/12 mx-auto px-40">
        {{ form_start(form,
            {'attr': { 'class': 'flex flex-wrap', 'novalidate': true }})
        }}
            {{ form_row(form.title,
                {
                    'label': 'Titre :',
                    'attr': {
                        'placeholder': 'intitulé ',
                        'class': 'input-txt'
                }})
            }}
            {{ form_row(form.slug,
                {
                    'label': 'Alias',
                    'attr': {
                        'placeholder': 'diminutif',
                        'class': 'input-txt'
                }})
            }}
            {{ form_row(form.description,
                {
                    'label': 'Déscription :',
                    'attr': {
                        'placeholder': 'déscription',
                        'class': 'input-txt'
                }})
            }}
        {{ form_row(form.images,
            {
                'label': 'Téléverser vos images :',
                'attr': {
                'x-on:change': 'checkImage(event);',
                'class': 'input-txt'
            }})
        }}
        {{ form_row(form.videos,
            {
                'label': 'Partager des vidéos hébergés :',
                'attr': {
                'class': 'input-txt'
            }})
        }}
        <div class="mx-6 mt-6 mx-auto">
            <button class="submit_btn " id="submit" type="submit" name="submit" >envoyer !</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
        function createTrick() {
            return {
                checkImage(event) {
                    const files = event.target.files;
                    console.log(files);
                    // this.createInput(files);
                },
                createInput(files) {
                    const form = document.getElementsByTagName('form')[0];
                    const file_input = document.createElement('input');
                    file_input.setAttribute('type',files[0].type);
                    file_input.setAttribute('class','input-uploaded');
                    file_input.setAttribute('value', files[0].name);
                    file_input.setAttribute('name', 'trick_edition[images][]');
                    form.appendChild(file_input);
                },
                uniqueInputFileName() {
                    const inputs = document.getElementsByClassName('input-uploaded');
                    if (inputs.length > 0) {
                        return inputs.length + 1;
                    } else {
                        return 0;
                    }
                },
                display() {
                    console.log('yo')
                }
            }
        }
        window.createTrick = createTrick;
    </script>
{% endblock %}
