{% extends 'layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% form_theme form with [
    'form_themes/form_errors.html.twig'
    ] %}
{% block body %}
    <div class="font-sans w-10/12 md:w-4/12 mx-auto">
        {{ form_start(form,
            {'attr': { 'class': '', 'novalidate': true }})
        }}
            {{ form_row(form.pseudo,
                {
                    'label': 'Pseudo :',
                    'attr': {'placeholder': 'un pseudo original',
                    'class': 'input-txt'
                }})
            }}
{#            {{ form_errors(form.pseudo,{'class': 'input-error'}) }}#}
            {{ form_row(form.email,
                {
                    'label': 'Adresse email :',
                    'attr': {'placeholder': 'email',
                    'class': 'input-txt'
                }})
            }}
{#            {{ form_errors(form.email,{'class': 'input-error'}) }}#}
            {{ form_row(form.password,
                {
                    'label': 'Mot de passe :',
                    'attr': {'placeholder': 'mot de passe',
                    'class': 'input-txt'
                }})
            }}
{#            {{ form_errors(form.password,{'class': 'input-error'}) }}#}
{#            {{ form_row(form.confirm_password,#}
{#                {#}
{#                    'label': 'Confirmation :',#}
{#                    'attr': {'placeholder': 'confirmer le mot de passe',#}
{#                    'class': 'input-txt'#}
{#                }})#}
{#            }}#}
{#            {{ form_errors(form.confirm_password,{'class': 'input-error'}) }}#}
        <div class="mx-6 mt-6 mx-auto">
            <button class="cancel_btn mr-4 " id="cancel" name="cancel" >annuler</button>
            <button class="submit_btn " id="submit" type="submit" name="submit" >envoyer !</button>
        </div>
        {{ form_end(form) }}
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
